.logo {
  /* background: url(); */
  width: 60px;
  height: 60px;
}

.logo-text {
  font-size: 20px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

.search-input {
  border: none;
  outline: none;
  border-bottom: 1px solid lightgrey;
  padding: 10px;
}
